* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F1EEDF;
}

nav {
  display: flex;
  width: 100%;
  height: 89px;
  background-color: #AEBD92;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#logo {
  margin-left: 165px;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 165px;
}

li {
  margin: 0 15px;
}

a {
  color: #FFF;
  font-family: "carlmarx", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  text-decoration: none;
  transition: font-size 0.30s ease;
  
}

h1, span {
  color: #F6D27A;
  font-family: "joschmi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
}

ul li a:hover {
  color: #F6D27A;
}

footer {
  background-color: #AEBD92;
  color: #fff;
  padding: 20px;
  position: relative;
  width: 100%;
}

.footer-content {
  max-width: 960px;
  margin-left: 160px;
  display:flex;
}

.footer-logo h1 {
  margin: 0;
}

.footer-divider {
  height: 120px;
  border-radius: 12px;
  width: 5px;
  background: #36452E;
  margin-left: 20px;
  margin-right: 20px;
}

.filter-text-content {
  display: flex;
  flex-direction: column;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 10px;
  margin-right: 20px;
}

.links a {
  color: #FFF;
  text-decoration: none;
}

.footer-text p {
  text-align: left;
  max-width: 600px;
  margin-top: 10px;
}
/*--------------homepage----------------------*/
.hero-section {
  display: flex;
  justify-content: space-between; 
  gap: 20px;
  text-align: center;
  margin: 100px auto;
  width: 80%; 
}
.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.welcome-box,
.explore-box {
  font-family: "joschmi", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #36452E;
  background-color: #AEBD92;
  font-size: 100px;
  box-shadow: 8px 8px 0px 0px #36452E;
  border: solid 3px black;
  border-radius: 12px;
  height: 120px; 
}
.abtus-btn,
.map-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  color: #F6D27A;
  background-color: #AEBD92;
  font-family: "carlmarx", sans-serif; 
  font-size: 60px;
  font-weight: 750;
  box-shadow: 8px 8px 0px 0px #36452E;
  border: solid 3px black;
  border-radius: 12px;
  height: 340px; 
  cursor: pointer;
}
  .abtus-btn{
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url('imgs/meettheblogers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
  }
  .map-btn{
    background-image: 
    linear-gradient(to top right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url('imgs/searchbylocationbutton.jpg');
    background-size:cover ;
    background-repeat: no-repeat;
    align-items: flex-start;
  }
    .map-btn:hover{
      background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
      linear-gradient(to top left,rgba(246, 210, 122, 0.4), rgba(0, 0, 0, 0)),
      url('imgs/searchbylocationbutton.jpg');
    }
    .abtus-btn:hover{
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
      linear-gradient(to top left,rgba(246, 210, 122, 0.4), rgba(0, 0, 0, 0)),
      url('imgs/meettheblogers.jpg');
    }
.nblog{
  font-family: "joschmi", sans-serif;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 20px;
  color: #36452E;
  background-color: #AEBD92;
  font-size: 50px;
  box-shadow: 8px 8px 0px 0px #36452E;
  border: solid 3px black;
  border-radius: 12px;
  height: 70px; 
  margin: 100px auto;
  width: 80%;
}

.cards-home {
  display: flex;
  justify-content: space-between;
}





